{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="cambioaceite">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="{% static 'images/cambioaceite.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Cambio de Aceite</h1>
          <p class="lead">El aceite es importante para el funcionamiento del motor, ya que lubrica las piezas móviles y ayuda a enfriarlas. Con el tiempo, el aceite se ensucia y pierde sus propiedades lubricantes, 
            lo que puede causar daños al motor. Es por eso que se recomienda cambiar el aceite cada cierto número de millas o kilómetros, según el fabricante del vehículo.
            Además de reemplazar el aceite y el filtro, el mecánico de taller también puede realizar una inspección visual de los componentes del motor, 
            como las correas y mangueras, y verificar los niveles de fluidos como el líquido de frenos y el refrigerante del motor.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">        
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="escaneocomputadora">

      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'images/scancomputadora.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Escaneo de computadora</h1>
            <p class="lead">El escaneo de la computadora de un automóvil es un servicio que se realiza en un taller mecánico para detectar y solucionar problemas relacionados con el sistema electrónico del vehículo. Los vehículos modernos están equipados con una variedad de s
              ensores y sistemas electrónicos, que son monitoreados y controlados por la unidad de control del motor (ECU, por sus siglas en inglés) del vehículo. El escaneo de la computadora permite al mecánico de taller leer los códigos de diagnóstico almacenados en la ECU 
              y determinar la causa subyacente de cualquier problema que el vehículo pueda estar experimentando.</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pruebasmotor">

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="{% static 'images/inyectores.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Pruebas de Motor</h1>
              <p class="lead">Las pruebas de motor son un servicio que se realiza en un taller mecánico para descubrir y solucionar problemas con el motor del vehículo. Durante una prueba de motor, los mecánicos de taller pueden utilizar herramientas especializadas para inspeccionar el motor y sus componentes, y realizar pruebas de rendimiento para verificar su funcionamiento.<br> Hay 5 pruebas que se le hacen a un motor: Inyeccion, combustion, toma de aire, compresion y timing</p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="alineacion">

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="{% static 'images/caralignment.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Alineacion de Neumaticos</h1>
              <p class="lead">La alineación de neumáticos es un servicio que se realiza en un taller mecánico para ajustar los ángulos de las ruedas y asegurar que se alineen correctamente con el centro del vehículo y entre sí. 
                Los angulos de las ruedas incluyen la inclinacion, el avance y la convergencia, y cuando estos angulos no estan ajustados correctamente, puede haber una serie de problemas que afectan el rendimiento y la seguridad del vehiculo.
                La alineación de neumáticos es un proceso importante para mantener la estabilidad y el control del vehículo, y puede ayudar a prolongar la vida útil de los neumáticos. Algunos de los signos de que un vehículo puede necesitar una 
                alineación de neumáticos incluyen un desgaste irregular de los neumáticos, una dirección que se siente "floja" o desalineada, vibraciones en el volante, o un vehículo que tira hacia un lado cuando se conduce.
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="suspension">

        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="{% static 'images/carsuspension.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Suspension de neumáticos</h1>
              <p class="lead"> La suspensión de un automóvil es el sistema que conecta las ruedas al chasis del vehículo, y es esencial para proporcionar una conducción suave y cómoda, así como para 
                garantizar la estabilidad y el control del vehículo en la carretera. La suspensión de un automóvil está compuesta por una variedad de componentes, como los amortiguadores,
                los resortes, las barras estabilizadoras, los brazos de control, los bujes y los rodamientos.
                
                La reparación de la suspensión de un automóvil es un servicio común que se realiza en un taller mecánico. Durante el proceso de reparación, el mecánico de taller puede inspeccionar los componentes de la suspensión para detectar signos de desgaste o daño, y reemplazar las piezas según sea necesario. </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cambiofrenos">

          <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'images/cambiofreno.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Cambio de Frenos</h1>
                <p class="lead"> La reparación del sistema de frenos puede implicar la sustitución de las pastillas de freno, discos de freno, mangueras de freno, cilindros de freno, bombas de freno, líquido de frenos y otros componentes. 
                  El mecanico tambien puede inspeccionar y ajustar el sistema de frenos para asegurarse de que el vehiculo tenga un freno seguro y eficiente.
                  Es importante tener en cuenta que el desgaste de los frenos puede variar según el tipo de conducción y el ambiente en el que se conduce el vehículo. Algunos signos de desgaste de los frenos 
                  incluyen ruidos fuertes, vibraciones, frenos que se sienten suaves o esponjosos, o un pedal de freno que se hunde más de lo normal. </p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

{% endblock %}
