{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                    <h2 class="text-center">Politica de privacidad Taller Mecanico Rayo Makween</h2>
                    <p class="text-center">En Rayo Makween, entendemos la importancia de proteger la privacidad de nuestros clientes. Por lo tanto, hemos desarrollado estas políticas para explicar cómo recopilamos, utilizamos y protegemos la información personal que nos garantiza.</p>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/datacollection.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Información Personal Recopilada</h1>
                    <ul>
                        <p class="text-center">Podemos recopilar información personal de varias formas, incluyendo:</p><br>
                        <li>Información que nos proporciona directamente, como su nombre, dirección, número de teléfono, dirección de correo electrónico, información de pago y preferencias de otros talleres.</li><br>
                        <li>Información recopilada automáticamente, como su dirección IP, información de cookies y otra información similar.</li><br>
                        <li>Información que obtenemos de otras fuentes, como redes sociales y proveedores de servicios externos.</li>
                    </ul>  
                    </p>
                  </div>
                  <div class="col-10 col-sm-4 col-lg-6">
                    <img src="assets/img/datausage.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Uso de la información</h1>
                    <ul>
                        <p class="text-center">La información personal recopilada se utiliza únicamente para proporcionar nuestros servicios y mejorar la experiencia de nuestros clientes. No compartimos ni vendemos información personal con terceros, excepto cuando sea necesario para cumplir con la ley o cuando el cliente lo autorice expresamente.</li>
                    </ul>  
                  </div>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/datasharing.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Protección de la Información Personal</h1>
                    <ul>
                        <p class="text-center">En Rayo Makween, tomamos medidas para proteger la información personal de nuestros clientes. Esto incluye medidas de seguridad física, electrónica y administrativa para evitar el acceso no autorizado, la divulgación o el uso indebido de la información personal.</li>
                    </ul>  
                  </div>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/datasecurity.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Datos de pago</h1>
                        <p class="text-center">Si solicita nuestros servicios, podemos recopilar información de pago, como su número de tarjeta de crédito o información bancaria. 
                          Rayo Makween toma la seguridad de esta información muy en serio y 
                          se compromete a protegerla mediante el uso de medidas de seguridad adecuadas.
                          Para garantizar la seguridad de la información de pago, utilizamos tecnología de cifrado de datos y medidas de seguridad física. 
                          Esta información solo se utiliza para procesar pagos y no se comparte con terceros, a menos que sea necesario para cumplir con la ley o 
                          para el procesamiento de pagos. Además, cumplimos con todas las leyes y regulaciones correspondientes a la recopilación y uso de información financiera de los clientes. Si tiene alguna pregunta sobre cómo se utiliza su información de pago, no dude en ponerse en contacto con nosotros..</p><br>
                  </div>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/dataretention.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Retención de la información</h1>
                        <p class="text-center">Taller Mecanico Rayo Mackeen retiene la información personal que recopilamos durante el tiempo que sea necesario para proporcionarle nuestros servicios
                          de viajes y para cumplir con nuestras obligaciones legales y reguladoras.
                          Después de eso, podemos retener su información personal en una forma agregada o anonimizada para fines estadísticos o de investigación.</p><br>
                  </div>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/datarights.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Sus derechos</h1>
                    <ul>
                        <p class="text-center">Como titular de la información personal, usted tiene ciertos derechos con respecto a la información personal que Rayo Mackeen recopila y mantiene, incluyendo el derecho a:</p><br>
                        <li>Acceder a su información personal.</li><br>
                        <li>Rectificar su información personal.</li><br>
                        <li>Borrar su información personal.</li><br>
                        <li>Oponerse al procesamiento de su información personal.</li><br>
                        <p class="text-center">Si desea ejercer alguno de estos derechos, contáctenos a través de los datos de contacto proporcionados al final de esta Política de Privacidad.</p><br>
                    </ul>
                  </div>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/policychange.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Cambios en esta política</h1>
                    <p class="text-center">Rayo Makween puede modificar esta Política de Privacidad en cualquier momento a su entera discreción.
                      Publicaremos cualquier cambio en nuestra política en esta página, por lo que le recomendamos que revise esta Política de Privacidad periódicamente.</p><br>
                  </div>
                  <div class="col-10 col-sm-8 col-lg-6">
                    <img src="assets/img/contactus.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
                  <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center">Póngase en contacto con nosotros</h1>
                    <p class="text-center">Si tiene alguna pregunta o inquietud acerca de esta Política de Privacidad, comuníquese con nosotros a través de la información de contacto proporcionada en nuestro sitio web.</p><br>
                  </div>
                </div>
              </div>
        </div>
    </div>

{% endblock %}
